<% content_for :title do %>
<%= t(:privacy_title, :scope => 'helpers.legal', :area => @current_area.name) %>
<% end %>

<% content_for :description do %>
<%= t(:imprint_meta_description, :scope => 'helpers.legal', :area => @current_area.name, extension: 'de') %>
<% end %>

<div class="offset"></div>
<div class="light-wrapper page-title">
  <div class="container inner">
    <h1>Datenschutzerkl&auml;rung</h1>
    <div class="collapse navbar-collapse pull-right">
    </div>
  </div>
</div>

<div class="dark-wrapper">
  <div class="container inner">

    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
       <p>wasgehtheuteab nimmt den Schutz Ihrer persönlichen Daten sehr ernst und hält sich strikt an die Regeln der Datenschutzgesetze. Personenbezogene Daten werden auf dieser Webseite nur im technisch notwendigen Umfang erhoben. In keinem Fall werden die erhobenen Daten verkauft oder aus anderen Gründen an Dritte weitergegeben.</p> <p>Die nachfolgende Erklärung gibt Ihnen einen Überblick darüber, wie wir diesen Schutz gewährleisten und welche Art von Daten zu welchem Zweck erhoben werden.</p>

       <h5>Datenverarbeitung auf dieser Internetseite</h5>
       <p>wasgehtheuteab erhebt und speichert automatisch in sog. Server Log Files Informationen, die Ihr Browser an uns übermittelt. Dies sind unter anderem: </p> <ul> <li>Browsertyp/ -version</li> <li>verwendetes Betriebssystem</li> <li>Referrer URL (die zuvor besuchte Seite)</li> <li>Hostname des zugreifenden Rechners (IP Adresse)</li> <li>Uhrzeit der Serveranfrage.</li> </ul> <p>Diese Daten sind für wasgehtheuteab nicht bestimmten Personen zuordenbar. Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen. </p> <h5>Kontaktaufnahme</h5> <p>Bei der Kontaktaufnahme mit dem Anbieter (zum Beispiel per Kontaktformular oder E-Mail) werden die Angaben des Nutzers zwecks Bearbeitung der Anfrage sowie für den Fall, dass Anschlussfragen entstehen, gespeichert.</p>

       <h5>Datenschutzerklärung für die Nutzung von Facebook-Plugins (Login-Button)</h5>
       <p>Auf unseren Seiten sind Plugins des sozialen Netzwerks Facebook, 1601 South California Avenue, Palo Alto, CA 94304, USA integriert. Die Facebook-Plugins erkennen Sie an dem Facebook-Logo oder dem "Login-Button" auf unserer Seite. Eine Übersicht über die Facebook-Plugins finden Sie hier: <a href="http://developers.facebook.com/docs/plugins/">http://developers.facebook.com/docs/plugins/</a> </p> <p>Wenn Sie unsere Upload-Seiten besuchen, wird über das Plugin eine direkte Verbindung zwischen Ihrem Browser und dem Facebook-Server hergestellt. Facebook erhält dadurch die Information, dass Sie mit Ihrer IP-Adresse unsere Seite besucht haben. Wenn Sie den Facebook "Anmelden-Button" anklicken, können Sie Events von Facebook auf unserer Seite hinterlegen. Dadurch kann Facebook den Besuch unserer Seiten Ihrem Benutzerkonto zuordnen. Wir weisen darauf hin, dass wir als Anbieter der Seiten keine Kenntnis vom Inhalt der übermittelten Daten sowie deren Nutzung durch Facebook erhalten. Weitere Informationen hierzu finden Sie in der Datenschutzerklärung von facebook unter <a href="http://de-de.facebook.com/policy.php">http://de-de.facebook.com/policy.php</a> </p> <p>Wenn Sie nicht wünschen, dass Facebook den Besuch unserer Seiten Ihrem Facebook-Nutzerkonto zuordnen kann, loggen Sie sich bitte aus Ihrem Facebook-Benutzerkonto aus.</p>
       <!-- /.span9 -->

       <h5>Datenschutzerklärung für Google AdSense</h5>
       <p>Unsere Website benutzt Google AdSense, einen Dienst zum Einbinden von Werbeanzeigen von Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA. Google AdSense verwendet sog. "Cookies", Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website ermöglicht. Google AdSense verwendet auch so genannte Web Beacons (unsichtbare Grafiken). Durch diese Web Beacons können Informationen wie der Besucherverkehr auf diesen Seiten ausgewertet werden. Die durch Cookies und Web Beacons erzeugten Informationen über die Benutzung dieser Website (einschließlich Ihrer IP-Adresse) und Auslieferung von Werbeformaten werden an einen Server von Google in den USA übertragen und dort gespeichert. Diese Informationen können von Google an Vertragspartner von Google weiter gegeben werden. Google wird Ihre IP-Adresse jedoch nicht mit anderen von Ihnen gespeicherten Daten zusammenführen. Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website voll umfänglich nutzen können. Durch die Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden.</p>
     </div>
     <!-- /.row -->
   </div>
 </div>
</div>
