<% content_for :title do %>
<%= t(:tos_title, :scope => 'helpers.legal', :area => @current_area.name) %>
<% end %>

<% content_for :description do %>
<%= t(:imprint_meta_description, :scope => 'helpers.legal', :area => @current_area.name, extension: 'de') %>
<% end %>

<div class="offset"></div>
<div class="light-wrapper page-title">
  <div class="container inner">
    <h1>Allgemeine Gesch&auml;ftsbedingungen</h1>
    <div class="collapse navbar-collapse pull-right"></div>
  </div>
</div>

<div class="dark-wrapper">
  <div class="container inner">
    <div class="section-title text-center">
    </div>

    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h5>1. Anspruch</h5>
        <p>Auf den kostenlosen Service kann keiner Anspruch erheben und der Betreiber kann jederzeit User hiervon ausschließen. Sollte das Onlineangebot einmal nicht zu erreichen sein, übernimmt der Betreiber keinerlei Haftung. </p>

        <h5>2. Verbotener Inhalt</h5>
        <p>Der User ist für seine publizierten Inhalte selbst verantwortlich. Er versichert, über den Service keine Inhalte zu verbreiten, die gegen geltendes Recht oder Vereinbarungen mit Dritten verstoßen, insbesondere keine beleidigenden, obszönen, rassistischen, bedrohenden, belästigenden, diffamierenden und sexuell ausgerichteten Inhalte zu verbreiten. </p>
        <p>Der Benutzer versichert ausdrücklich, dass die Bereitstellung und Veröffentlichung der Inhalte weder gegen Deutsches Recht, insbesondere Urheber-, Datenschutz- und Wettbewerbsrecht, verstößt. Der Betreiber behält sich vor, sämtliche Daten aus jeglichem Grund auch ohne Erläuterungen von einer Speicherung auf dem Server auszunehmen. Es besteht für den Betreiber keine Prüfungspflicht auf die Rechtmäßigkeit der Daten. </p>

        <h5>3. Datenschutz</h5>
        <p>Alle Angaben von persönlichen Daten sind freiwillig und werden vertraulich behandelt. Persönlich Daten werden nicht an dritte weitergegeben. </p>

        <h5>4. Kontrolle durch den Betreiber</h5>
        <p>Der User erklärt sich damit einverstanden, dass alle von ihm hochgeladenen Dateien auf verbotenen Inhalt (siehe 2.) kontrolliert werden. </p>

        <h5>5. Einsatz von Programmen</h5>
        <p>Der User verpflichtet sich keine Programme oder Bots zu benutzen, die den Service in irgendeiner Weise beeinflussen. </p>

        <h5>6. Änderungen</h5>
        <p>Der Betreiber hat jederzeit das Recht die AGB zu verändern. Sollte der Benutzer damit nicht einverstanden sein, so wird er zukünftig von dem Onlineangebot ausgeschlossen. </p>

        <h5>7. Rechtswirksamkeit dieses Haftungsausschlusses</h5>
        <p>Dieser Haftungsausschluss ist als Teil des Internetangebotes zu betrachten, von dem aus auf diese Seite verwiesen wurde. Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden Rechtslage nicht, nicht mehr oder nicht vollständig entsprechen sollten, bleiben die übrigen Teile des Dokumentes in ihrem Inhalt und ihrer Gültigkeit davon unberührt. </p>

        <h2>Disclaimer</h2>
        <h5>1. Inhalt des Onlineangebotes</h5>
        <p>Der Autor übernimmt keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder Qualität der bereitgestellten Informationen. Haftungsansprüche gegen den Autor, welche sich auf Schäden materieller oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und unvollständiger Informationen verursacht wurden, sind grundsätzlich ausgeschlossen, sofern seitens des Autors kein nachweislich vorsätzliches oder grob fahrlässiges Verschulden vorliegt. </p>
        <p>Alle Angebote sind freibleibend und unverbindlich. Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen. </p>

        <h5>2. Verweise und Links</h5>
        <p>Bei direkten oder indirekten Verweisen auf fremde Webseiten ("Hyperlinks"), die außerhalb des Verantwortungsbereiches des Autors liegen, würde eine Haftungsverpflichtung ausschließlich in dem Fall in Kraft treten, in dem der Autor von den Inhalten Kenntnis hat und es ihm technisch möglich und zumutbar wäre, die Nutzung im Falle rechtswidriger Inhalte zu verhindern. </p>

        <p>Der Autor erklärt hiermit ausdrücklich, dass zum Zeitpunkt der Linksetzung keine illegalen Inhalte auf den zu verlinkenden Seiten erkennbar waren. Auf die aktuelle und zukünftige Gestaltung, die Inhalte oder die Urheberschaft der gelinkten/verknüpften Seiten hat der Autor keinerlei Einfluss. Deshalb distanziert er sich hiermit ausdrücklich von allen Inhalten aller gelinkten /verknüpften Seiten, die nach der Linksetzung verändert wurden. Diese Feststellung gilt für alle innerhalb des eigenen Internet-angebotes gesetzten Links und Verweise sowie für Fremdeinträge in vom Autor eingerichteten Gästebüchern, Diskussionsforen, Linkverzeichnissen, Mailinglisten und in allen anderen Formen von Datenbanken, auf deren Inhalt externe Schreibzugriffe möglich sind. Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung solcherart dargebotener Informationen entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen wurde, nicht derjenige, der über Links auf die jeweilige Veröffentlichung lediglich verweist. </p>

        <h5>3. Urheber- und Kennzeichenrecht</h5>
        <p>Der Autor ist bestrebt, in allen Publikationen die Urheberrechte der verwendeten Grafiken, Tondokumente, Videosequenzen und Texte zu beachten, von ihm selbst erstellte Grafiken, Tondokumente, Videosequenzen und Texte zu nutzen oder auf lizenzfreie Grafiken, Tondokumente, Videosequenzen und Texte zurückzugreifen. </p>

        <p>Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte geschützten Marken- und Warenzeichen unterliegen uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigentümer. Allein aufgrund der bloßen Nennung ist nicht der Schluss zu ziehen, dass Markenzeichen nicht durch Rechte Dritter geschützt sind! </p>

        <p>Das Copyright für veröffentlichte, vom Autor selbst erstellte Objekte bleibt allein beim Autor der Seiten. Eine Vervielfältigung oder Verwendung solcher Grafiken, Tondokumente, Videosequenzen und Texte in anderen elektronischen oder gedruckten Publikationen ist ohne ausdrückliche Zustimmung des Autors nicht gestattet. </p>

        <h5>4. Datenschutz</h5>
        <p>Sofern innerhalb des Internetangebotes die Möglichkeit zur Eingabe persönlicher oder geschäftlicher Daten (E-Mail-Adressen, Namen, Anschriften) besteht, so erfolgt die Preisgabe dieser Daten seitens des Nutzers auf ausdrücklich freiwilliger Basis. Die Inanspruchnahme und Bezahlung aller angebotenen Dienste ist - soweit technisch möglich und zumutbar - auch ohne Angabe solcher Daten bzw. unter Angabe anonymisierter Daten oder eines Pseudonyms gestattet. Die Nutzung der im Rahmen des Impressums oder vergleichbarer Angaben veröffentlichten Kontaktdaten wie Postanschriften, Telefon- und Faxnummern sowie E-Mail-Adressen durch Dritte zur Übersendung von nicht ausdrücklich angeforderten Informationen ist nicht gestattet. Rechtliche Schritte gegen die Versender von sogenannten Spam-Mails bei Verstössen gegen dieses Verbot sind ausdrücklich vorbehalten. </p>

        <h5>5. Rechtswirksamkeit dieses Haftungsausschlusses</h5>
        <p>Dieser Haftungsausschluss ist als Teil des Internetangebotes zu betrachten, von dem aus auf diese Seite verwiesen wurde. Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden Rechtslage nicht, nicht mehr oder nicht vollständig entsprechen sollten, bleiben die übrigen Teile des Dokumentes in ihrem Inhalt und ihrer Gültigkeit davon unberührt. </p>
        <!-- /.span9 -->
      </div>
      <!-- /.row -->
    </div>
  </div>
</div>
