user  live;
worker_processes     auto;

pid /var/run/nginx.pid;

worker_rlimit_nofile 100000;

events {
  worker_connections  4096;
  multi_accept on;
  use epoll;
}

http {

  passenger_root /home/live/.rvm/gems/ruby-2.4.1/gems/passenger-5.1.5;
  passenger_ruby /home/live/.rvm/gems/ruby-2.4.1/wrappers/ruby;

  passenger_friendly_error_pages on;

  passenger_pre_start https://www.wasgehtheuteab.de;

  passenger_max_request_queue_size 0;
  passenger_max_pool_size 200;
  passenger_max_requests 500000;
  passenger_show_version_in_header off;

  etag on;
  include mime.types;

  server_names_hash_bucket_size 64;
  client_max_body_size 5m;

  sendfile  on;
  server_tokens off;

  tcp_nopush on;
  tcp_nodelay on;

  keepalive_timeout 10;

  client_header_timeout 10;
  client_body_timeout 10;

  reset_timedout_connection on;

  send_timeout 10;

  limit_conn_zone $binary_remote_addr zone=addr:10m;
  limit_conn addr 512;

  gzip  on;
  gzip_disable "msie6";
  gzip_proxied any;
  gzip_min_length 1000;
  gzip_comp_level 4;
  gzip_types "application/javascript; charset=UTF-8" text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;

  open_file_cache max=10000 inactive=20s;
  open_file_cache_valid 120s;
  open_file_cache_min_uses 1;
  open_file_cache_errors on;

  default_type text/html;

  charset UTF-8;

  deny 109.239.235.0/24;
  deny 86.123.240.6;

  server {
    listen 5.9.30.39:80 default;
    listen [2a01:4f8:161:122c:0:0:0:2]:80 default;
    rewrite ^(.*) https://www.wasgehtheuteab.de permanent;
  }

  server {
    server_name admin.wasgehtheuteab.de admin.wgha.de;

    listen 5.9.30.39:80;
    listen [2a01:4f8:161:122c:0:0:0:2]:80;

    location ~ /.well-known {
      root /srv/admin.wasgehtheuteab.de/current/public;
      allow all;
    }

    location / {
      rewrite ^(.*) https://admin.wasgehtheuteab.de permanent;
    }
  }

  server {
    server_name .wasgehtheuteab.de .wgha.de;

    listen 5.9.30.39:80;
    listen [2a01:4f8:161:122c:0:0:0:2]:80;

    location ~ /.well-known {
      root /srv/www.wasgehtheuteab.de/current/public; # <--- public folder
      allow all;
    }

    location / {
      rewrite ^(.*) https://www.wasgehtheuteab.de$1 permanent;
    }
  }

  server {
    server_name wasgehtheuteab.de;

    listen 5.9.30.39:443 http2;
    listen [2a01:4f8:161:122c:0:0:0:2]:443 http2;

    ssl on;
    ssl_certificate /etc/letsencrypt/live/next.wasgehtheuteab.de/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/next.wasgehtheuteab.de/privkey.pem;

    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AES:RSA+3DES:!ADH:!AECDH:!MD5:!DSS;

    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:10m;

    ssl_dhparam /etc/ssl/certs/dhparam.pem;
    rewrite ^(.*) https://www.wasgehtheuteab.de$1 permanent;
  }

  server {
    server_name wgha.de;

    listen 5.9.30.39:443 http2;
    listen [2a01:4f8:161:122c:0:0:0:2]:443 http2;

    ssl on;
    ssl_certificate /etc/letsencrypt/live/wgha.de/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/wgha.de/privkey.pem;

    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AES:RSA+3DES:!ADH:!AECDH:!MD5:!DSS;

    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:10m;

    ssl_dhparam /etc/ssl/certs/dhparam.pem;
    rewrite ^(.*) https://www.wasgehtheuteab.de$1 permanent;
  }


  server {
    server_name admin.wasgehtheuteab.de;

    listen 5.9.30.39:443 http2;
    listen [2a01:4f8:161:122c:0:0:0:2]:443 http2;

    ssl on;
    ssl_certificate /etc/letsencrypt/live/next.wasgehtheuteab.de/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/next.wasgehtheuteab.de/privkey.pem;

    rails_env production;
    root /srv/admin.wasgehtheuteab.de/current/public; # <--- be sure to point to 'public'!

    passenger_enabled on;
    passenger_min_instances 5;

    add_header X-Frame-Options "SAMEORIGIN";

    error_log /srv/admin.wasgehtheuteab.de/shared/log/nginx.admin.wasgehtheuteab.de.error.log;
    access_log /srv/admin.wasgehtheuteab.de/shared/log/nginx.admin.wasgehtheuteab.de.access.log;
  }

  server {
    server_name www.wasgehtheuteab.de;

    listen [2a01:4f8:161:122c:0:0:0:2]:443 ssl http2;
    listen 5.9.30.39:443 ssl http2;

    add_header Strict-Transport-Security "max-age=63072000; includeSubdomains; preload";
    add_header X-Frame-Options "DENY";

    ssl on;
    ssl_certificate /etc/letsencrypt/live/next.wasgehtheuteab.de/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/next.wasgehtheuteab.de/privkey.pem;

    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AES:RSA+3DES:!ADH:!AECDH:!MD5:!DSS;

    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:10m;

    ssl_dhparam /etc/ssl/certs/dhparam.pem;

    error_page 404 https://www.wasgehtheuteab.de/frankfurt-am-main-und-umgebung/error_page;
    rails_env production;
    root /srv/www.wasgehtheuteab.de/current/public; # <--- be sure to point to 'public'!

    error_log /srv/www.wasgehtheuteab.de/shared/log/nginx.cache.wasgehtheuteab.de.error.log;
    access_log /srv/www.wasgehtheuteab.de/shared/log/nginx.cache.wasgehtheuteab.de.access.log;

    #  add_header X-Frame-Options "SAMEORIGIN";

    # expires 5m;

    gzip on;
    gzip_disable "msie6";

    gzip_vary on;
    gzip_proxied any;
    gzip_comp_level 6;
    gzip_buffers 16 8k;
    gzip_http_version 1.1;
    gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;

    location ~* \.(ttf|ttc|otf|eot|woff|font.css|jpg|png|gif|js|css|ico)$ {
      add_header Access-Control-Allow-Origin "*";
      gzip_static on; # to serve pre-gzipped version
      expires max;
      add_header Cache-Control public;
      access_log /srv/www.wasgehtheuteab.de/shared/log/nginx.www.wasgehtheuteab.de.assets.log;
      root /srv/www.wasgehtheuteab.de/current/public; # <--- be sure to point to 'public'!
    }

    location ~* (/no-valid-domain-should-redirect-new-relic)  {
      expires -1;
    }

    location / {
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header Host $http_host;
      proxy_set_header X-Forwarded-Proto $scheme;
      proxy_redirect off;
      proxy_pass http://127.0.0.1:6081;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";
    }
  }

  server {
    server_name localhost;

    listen 127.0.0.1:80;

    location = /nginx_stub_status {
      stub_status on;
      allow 127.0.0.1;
      deny all;
    }
  }

 server {
     listen localhost:4999;

     passenger_enabled on;
     passenger_min_instances 1;
     rails_env production;

     root /srv/next.wasgehtheuteab.de/current/public; # <--- be sure to point to 'public'!

     error_log /srv/next.wasgehtheuteab.de/shared/log/nginx.next.wasgehtheuteab.de.error.log;
     access_log /srv/next.wasgehtheuteab.de/shared/log/nginx.next.wasgehtheuteab.de.access.log;
     error_page 404 http://next.wasgehtheuteab.de/frankfurt-am-main-und-umgebung/error_page;
   }

   server {
       listen localhost:5001;

       passenger_enabled on;
       passenger_min_instances 40;
       rails_env production;

       root /srv/www.wasgehtheuteab.de/current/public; # <--- be sure to point to 'public'!

       error_log /srv/www.wasgehtheuteab.de/shared/log/nginx.app.wasgehtheuteab.de.error.log;
       access_log /srv/www.wasgehtheuteab.de/shared/log/nginx.app.wasgehtheuteab.de.access.log;
       error_page 404 http://www.wasgehtheuteab.de/frankfurt-am-main-und-umgebung/error_page;
     }
}
